# IntelliJ files
.idea
*.iml
target/

# generated devbox tar file
devbox.tar.gz

# downloaded intellij tar
idea.tar.gz

# downloaded maven tar
mvn.tar.gz

# downloaded postman tar
postman.tar.gz

ssh_keys/